#This workflow should build and run unit tests on every push or PR to the main

name: Build and Test

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
        - main
  workflow_dispatch:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Set up java runtime
      uses: actions/setup-java@v5
      with:
          distribution: 'temurin'
          java-version: '17'

    - name: Build and run tests using maven
      run: mvn clean verify


