#This workflow should scan , build , test , and punlish to docker hub
#on every push or PR to the main (except some docs and md files changes)

name: CI Pipeline

permissions:
  contents: read
  pull-requests: read
  checks: write
  statuses: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches:
        - main
  workflow_dispatch:
jobs:
  SAST-Scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0
#SAST scans
    - name: Gitleaks Scan
      uses: gitleaks/gitleaks-action@v2.3.9
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0 # Ex: v4.1.0 or sha1, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  Build-Test:
    needs: SAST-Scan
    runs-on: ubuntu-latest
    steps:
    - name: Set up java runtime
      uses: actions/setup-java@v5
      with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

    - name: Build and run tests using maven
      run: mvn clean verify

#Publish to docker hub
  Publish-DockerHub:
    needs: Build-Test
    runs-on: ubuntu-latest
    steps:
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ vars.DOCKERHUB_USERNAME }}/profile-api
        tags: |
          type=sha,prefix=main-
          type=raw,value=latest
    - name: Build and push
      uses: docker/build-push-action@v6.18.0
      if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
      with:
        context: .
        push: ${{ vars.DOCKER_PUSH_ENABLED != 'false' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max




