#This workflow should scan , build , test , and punlish to docker hub
#on every push or PR to the main (except some docs and md files changes)

name: CI Pipeline

permissions:
  contents: read
  pull-requests: write
  checks: write
  statuses: write
  actions: write
  security-events: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches:
        - main
  workflow_dispatch:
jobs:
  SAST-Scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

#SAST scans
    - name: Gitleaks Scan
      uses: gitleaks/gitleaks-action@v2.3.9
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Add mvnw permissions
      run: chmod +x mvnw

    - name: Snyk scan for vulnerabilities
      uses: snyk/actions/maven-3-jdk-17@master
      continue-on-error: true # To make sure that SARIF upload gets called
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --severity-threshold=high --fail-on=upgradable --sarif-file-output=snyk.sarif

    # Upload Snyk scan results to GitHub Code Scanning (appears in Security tab)
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: snyk.sarif

  Build-Test:
    needs: SAST-Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Set up java runtime
        uses: actions/setup-java@v5
        with:
            distribution: 'temurin'
            java-version: '17'
            cache: 'maven'

      - name: Build and run tests using maven
        run: mvn clean verify

#Publish to docker hub
  Publish-DockerHub:
    needs: Build-Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ vars.DOCKERHUB_USERNAME }}/profile-api
        tags: |
          type=sha,prefix=main-
          type=raw,value=latest
    - name: Build and push
      uses: docker/build-push-action@v6.18.0
      if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
      with:
        context: .
        push: ${{ vars.DOCKER_PUSH_ENABLED != 'false' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max




