#This workflow builds and pushes a Docker image to Docker Hub on pushes to the main branch.
name: Build and Push Docker Image

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKERHUB_USERNAME }}/profile-api
          tags: |
            type=sha,prefix=main-
            type=raw,value=latest
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: ${{ vars.DOCKER_PUSH_ENABLED != 'false' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max