#This workflow should build and test the project on every push or PR to the main

name: CI workflow

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
        - main
  workflow_dispatch:
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6.0.1
          with:
            fetch-depth: 0
        - uses: gitleaks/gitleaks-action@v2.3.9
          env:
            GITHUB_TOKEN: ${{ github.token }}
  Sonarqube:
     name: SonarQube Scan
     runs-on: ubuntu-latest
     steps:
         - name: Checkout
           uses: actions/checkout@v6.0.1
           with:
             # Disabling shallow clones is recommended for improving the relevancy of reporting
             fetch-depth: 0
         - name: Sonarqube
           uses: SonarSource/sonarqube-scan-action@7.0.0
           env:
             SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Set up java runtime
      uses: actions/setup-java@v5
      with:
          distribution: 'temurin'
          java-version: '17'

    - name: Build and run tests using maven
      run: mvn clean verify


